html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 7.5vh;
}
body{
    background-color: rgb(5, 5, 50);
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
 }

 .max-width{
     max-width: 50vw;
 }

 .seccionVisible{
     display: flex;
     flex-direction: row;
     align-items: center;
}

.sibeBars{
    background-color: red;
    width: 15vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.general{  
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80vw;
    height: 80vh;
}

.right{
    background-color: red;
    width: 15vw;
    height: 75vh;
}

.next{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:stretch;
}

.next > *{
    padding: 2em;
    margin: 5%;
}

.box{
    width: 90%;
    height: 100%;
    background-color: black;
    margin: 1.5em;
}

.general1{
    width: 90vw;
    background-color:rgba(0, 0, 0, 0.5);
}

.roster{
    background-color:tomato;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.card{
    display: flex;
    background-color: chartreuse;
    width: 20vw;
    height: 90%;
    margin: 1em;
    background-position: center;
    background-size: 30em;
    background-repeat: no-repeat;
    background-image: url("../images/superman.png");
    transition: width background-position;
    transition: 0.75s ease-in-out;
}
.card:hover{
    display: flex;
    background-color: chartreuse;
    width: 100%;
    margin: 0.5em;
    background-size: 50em;
    background-position: top;
}

.general3{
    background-color: red;
}
.general4{
    background-color:rgba(0, 0, 0, 0.5);
}

.central{
    padding: 1em;
    background-color: rgba(255, 99, 71, 0.5);
} 

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25vh;
}

main > div{
    background-color: tomato;
    margin: 2vh;
    padding: 30px;
}